# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/samples/

# Notebook temp
notebooks/Untitled.ipynb
streamlit_app/Untitled.ipynb

# OS
.DS_Store
Thumbs.db